.button {
	border: 1px solid transparent;
	padding: 10px 85px;
	border-radius: 30px;
	box-shadow: var(--shadow);
	cursor: pointer;
	font-size: var(--font-size-2xl);
}

.button:hover {
	filter: brightness(1.1);
}
.button:active {
	filter: brightness(0.9);
}

.type-primary {
	background: var(--colors-brand-medium-purple);
	color: var(--colors-white);
}

.type-primary:hover {
	filter: brightness(1.1);
}

.type-primary:active {
	filter: brightness(0.9);
}

.type-secondary {
	background: var(--colors-transparent);
	color: var(--colors-brand-medium-purple);
	border: 1px solid var(--colors-brand-medium-purple);
}

.type-secondary:hover {
	filter: brightness(1.1);
}

.type-secondary:active {
	filter: brightness(0.9);
}

.type-tertiary {
	background: var(--colors-transparent);
	color: var(--colors-primary);
	box-shadow: var(--shadows-none);
	padding: 0;
	border-bottom: 1px solid var(--colors-primary);
	border-radius: var(--border-radius-none);
}
